<div
  class="d-flex justify-content-center justify-content-evenly align-items-center border"
  style="height: 300px"
>
  <div style="height: 200px">
    <h2><i class="fa-brands fa-shopify"></i>DailyCart</h2>
    <p>
      Designed and built with all the love in the <br />
      world by the bootstrap team with the help <br />
      of our contributor.
    </p>
    <p>Code licensed MIT,docs CC BY 3.0.</p>
  </div>

  <div style="height: 200px">
    <h2>Links</h2>
    <div class="d-flex flex-column">
      <p style="cursor: pointer" routerLink="">Home</p>
      <p style="cursor: pointer" routerLink="user/wishlist">Wishlist</p>
      <p style="cursor: pointer" routerLink="user/cart">cart</p>
    </div>
  </div>

  <div style="height: 200px">
    <h2>Registered Address</h2>
    <p>
      Manhattan P.O <br />
      Near Center Swuare <br />69756
    </p>
  </div>

  <div style="height: 200px">
    <h2>Contact Us</h2>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Contact us"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </form>
    <div class="icons d-flex mt-4">
      <a><i class="fa-brands fa-instagram me-5 fs-4"></i></a>
      <a><i class="fa-brands fa-facebook me-5 fs-4"></i></a>
      <a><i class="fa-brands fa-x-twitter me-5 fs-4"></i></a>
      <a><i class="fa-brands fa-threads me-5 fs-4"></i></a>
    </div>
  </div>
</div>
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; DailyCart 2023 2023
    </p>
  </div>
</footer>
