<app-header></app-header>
<div
  style="margin: 80px 0px"
  class="d-flex justify-content-center align-items-center flex-column w-100"
>
  <div class="deliveryDetails w-50 mt-5 z-0">
    <h1>Delivery Details</h1>
    <form action="">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput1"
          placeholder="Username"
        />
        <label for="floatingInput1">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput2"
          placeholder="Apartment/Flat No."
        />
        <label for="floatingInput2">Apartment/Flat No</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput3"
          placeholder="Place"
        />
        <label for="floatingInput3">Place</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput4"
          placeholder="Place"
        />
        <label for="floatingInput4">Pincode</label>
      </div>
      <div>
        <button class="btn btn-outline-danger me-3">Cancel</button>
        <button class="btn btn-outline-secondary">proceed to Buy</button>
      </div>
    </form>
  </div>
</div>
