<div
  class="empty-wishlist mb-5 mt-5 d-flex justify-content-center align-items-center flex-column"
>
  <img
    height="250px"
    src="https://htmlstream.com/front/assets/svg/illustrations/oc-empty-cart.svg"
    alt=""
  />
  <h3 class="fw-bolder text-muted">Your Wishlist Is Currently Empty! 😒</h3>
  <a class="btn btn-muted rounded mt-3" routerLink="">Back to Homepage</a>
</div>
<div class="wishlist">
  <div class="container px-4 px-lg-5 mt-5">
    <h1 class="text-muted" >Your Wishlist...</h1>
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img
              class="card-img-top"
              src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Fancy Product</h5>
                <!-- Product price-->
                $40.00 - $80.00
              </div>
            </div>
            <!-- Product actions-->
            <div class="d-flex justify-content-evenly mb-3">
              <button class="btn">
                <i class="fa-regular fa-heart me-2 text-danger fa-xl"></i>
              </button>
              <button class="btn">
                <i class="fa-brands fa-shopify fa-xl"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
