<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div
    style="width: 70%; height: 70%; position: relative"
    class="d-flex border border-1"
  >
    <div
      style="
        width: 40%;
        height: 100%;
        background-image: url(https://images.pexels.com/photos/5195565/pexels-photo-5195565.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      "
    ></div>
    <div style="position: absolute; top: 25px; right: 30px">
      <div routerLink="user/cart">
        <i class="fa-solid fa-xmark text-muted fa-xl"></i>
      </div>
    </div>
    <div style="width: 60%; height: 100%; background-color: white">
      <div class="p-5 mt-5">
        <h3 class="fw-100">Welcome Back !</h3>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="Email address"
              formControlName="email"
              name="email"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div
            *ngIf="
              this.loginForm.get('email')?.errors &&
              this.loginForm.get('email')?.touched
            "
            class="mb-2 text-danger"
          >
            invalid email
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="Password"
              formControlName="password"
              name="password"
            />
            <label for="floatingInput">Password</label>
          </div>
          <div
            *ngIf="
              this.loginForm.get('password')?.errors &&
              this.loginForm.get('password')?.touched
            "
            class="mb-2 text-danger"
          >
            invalid password
          </div>
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="remember"
            />
            <label class="form-check-label" for="remember"
              >Remember password</label
            >
          </div>
          <div class="d-grid">
            <button class="btn btn-dark rounded" type="submit">Login</button>
            <div class="text-center">
              <p>
                New User ?
                <a routerLink="/user/register" class="text-warning text-decoration-none">Register Here</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
